body {
  margin:0;
  overflow-x: hidden;
  background:rgb(167, 186, 244);
  /* cursor:none; */
  font-family: BillyRegular, Arial, sans-serif;
  color:rgb(221, 215, 249);
  font-size: 3rem;
}

p {
  text-align: center;
}


@font-face {
    font-family: BillyRegular;
    src: url(../assets/billy_regular.woff);
    font-weight:400;
}

a {
  display:inline;
  text-decoration: none;
  color:rgb(221, 215, 249);
  /* transition: color .1s ease-in-out; */
}

a:hover {
  color:rgb(236, 235, 254);
  /* filter:blur(2px); */
  /* cursor:none; */
}

ul {
  padding:0;
  margin:0;
  max-width: 100vw;
  text-align: center;
}

li {
  list-style: none;
  display:inline-block;
  margin:.3rem .5rem;
  /* background:green; */
}

.screen {
  position: fixed;
  width:100vw;
  height:100vh;
  background:#a7baf4;
  z-index: 9999;
  animation: fade 8s forwards ease-in-out;
  left:0;
  pointer-events: none;
}

.loader-container {
  width: 50px;
  height: 50px;
  position: fixed;
  -moz-animation: scaleUp 20s ease-in-out;
  -webkit-animation: scaleUp 20s ease-in-out;
  animation: scaleUp 20s ease-in-out;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  z-index: -9999;
}

.loader-container .loader {
  background: rgb(236, 235, 254);
  border-radius: 100%;
  filter: blur(20px);
  height: 100%;
  width: 100%;
}

@-moz-keyframes scaleUp {
  8% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-ms-keyframes scaleUp {
  8% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes scaleUp {
  8% {
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes fade {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width:800px) {
  body {
    margin-left:1rem;
    margin-right:1rem;
    font-size: 4.5rem;
  }

  ul {
    text-align: center;
  }
}
